	@font-face {
	  font-family: 'Days One';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Days One'), local('DaysOne-Regular'), url(daysOne.ttf) format('truetype');
	}

	body{
		background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACMAAAAiCAMAAADiW5DOAAAAaVBMVEUjIyMlJSUhISEaGhoZGRkcHBwREREHBwcMDAwODg4PDw8NDQ0LCwsICAgQEBAYGBgbGxsiIiIkJCQUFBQKCgoVFRUJCQkSEhITExMdHR0XFxcFBQUGBgYfHx8WFhYeHh4gICAEBAQmJiYtaDO6AAAC4UlEQVR42iVTi5arIAykl4cSMNAFeah1t/v/H3knXT3VyoQkMxmUUo8Hfv+0NtYtq6cQvI8bW53y8wsIbmAmy2VyCXElZscUatiNBpRtTlklqw0+EtL45r3rozjmtbK22Rid9TRqpozwiW/L1XMvY++uh3XIPiuZkkpG4lEPyTggS9nHcIFzxkpG9iOrel7Xspyr0eZ1e8TsexmO9m9j73pd57ks6ty2pbWz7drM3LkPhHRXtDV5LEuttZ2qtjVGkI1aJ3tIot7Z6W+T7/WKYFpXFSl48iFUhw5sD647Tzd4T2rN0wpMeSLX2YdaE6o9H0/R9CcbXVao5bhzUEIXilCsA0H5OyfQsVpbXwMxSg9SHiEDbH0teuojHeBrRPu+hi5SlK7wkst5D7WgmDnw0BAYarkBcOzKiWr7IJ+m1iK3aIdHmrdngfqtPrKhofHK4N7O7Trf55om5O88gPWhGFMcnbpshjm2Zavt2gYSvg5gaIcV0+hMvNusU2qtxRWaLsEk1NwJPiCnfpTY7OuF6em+Re+hFdUmiezr+fhV6qmmMSJIBqej1uAgqOPQ1iOLecSBVh1iwTtlaxNfyD1AmMg3B9QksdBEnoQNaMYmt0F6kYSYas9a1oHCq3hrKY6b2JVyQzYXKItQny4OeGy5zuusyaAauYGYUZiOqS3M8T6X81TbVdvW3sttjf52kqigoTExMwePAVxUrTFAkdrEY5k9PFZ8twafcQNRQCquwcNisXbpHFUcdRoZffSt+uA5eBXQqGNC0GHM/Pd4/H6p58/U6Y4tABnEij7zcrRuu3gLXBE6UYoatpcOTIkNZXCh7UeC/TA3vGAijqiwg0FXPIr8Ye+1zYhIH+n+TiTjIB2j/MXAq5TQg0nSuKig0zxIPHZ/YvZdTi9PUTq+r+u9vSN013NQH/dAreBQsXPPsszL1XAt8NjHKzR2VFAlgHt3xWI2d9wgGY5m88eE/QcLefcf4Go/mGyl89EAAAAASUVORK5CYII="); zoom: 1; background-repeat: repeat repeat; background-attachment: fixed;
		cursor: default;
	}
	#masthead{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#marketing{
		background: rgba(238, 238, 238, 0.9);
		color: black;
		padding-top: 30px;
		margin-top: 20px;
		margin-bottom: 90px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px
	}
	.customLink{
		opacity: 1;
		color: #cc1111;
	}
	.customLink:hover{
		color: #cc1111;
		text-decoration: underline;
	}
	.lead{
		padding: 15px;
	}
	.titleContainer{
		display: inline-block;
		color: #ccc;
	}
	.title{
		margin-top: 20px;
		margin-bottom: 0px;
		font-size:235%;
		font-weight: bold;
		display: inline-block;
	}
	.Pass {
		font-family: 'Days One';
		color: #2066B9;
		cursor: default;
	}
	.Guardian {
		font-family: 'Days One';
		color: #cc1111;
		cursor: default;
	}
	.strokeLogo span{
		text-shadow:
			-1px -1px 0 #fff,
		    1px -1px 0 #fff,
		    -1px 1px 0 #fff,
		     1px 1px 0 #fff;
	}
	.reg{
		font-size: 30%;
		cursor: default;
	}
	.subtitle {
		font-family: Monospace;
		float: right;
		font-size: 120%;
		padding-top: 0px;
		margin-top: 0px;
		padding-right: 17px;
		font-style: italic;
	}
	.center{
		text-align: center;
	}
	.clear{
		clear: both;
	}
	.jumbo{
		font-size: 220%;
	}
	section{
		background: #fff;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 70px;
		border: 2px solid #2066B9;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px
	}
	section>h3{
		font-family: 'Days One';
		background: #ddd;
		color: #2066B9;
		padding-left: 10px;
		margin-left: -5px;
		margin-right: -5px;
		margin-top: 0px;
		border-bottom: 2px solid #2066B9;

	}
	.toTop{
		margin: 6px;
	}
	form{
		padding: 10px;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.btnCustom{
		font-family: 'Days One';
	}

	#shares,
	#reconstruction,
	#split-hash,
	#recon-hash{
		padding: 2px;
		padding-left: 4px;
		overflow-x: auto;
		background: white;
		margin-left: -14px;
		margin-right: -35px;
		margin-bottom:-14px;
		margin-top: 4px;
		max-height: 300px;
	}
	#shares,
	#split-hash,
	#recon-hash{
		white-space: nowrap;
	}
	#reconstruction{
		word-wrap: normal;
		word-break: normal;
		white-space: pre;
	}

	#shares div{
		margin-bottom: 1px;
	}

	#reconShares{
		white-space: nowrap;
		font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	}

	.shareInput{
		margin-top: 4px;
	}

	.footer{
		padding: 10px;
		text-align: center;
		background: #ddd;
		margin-bottom: 20px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px
	}

	.nav{
		margin-bottom: 10px;
	}

	#inputShares{
		margin-bottom: 5px;
	}
	.advancedElement{
		display: none;
	}
